@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<<<<<<< HEAD
<p>Very official privacy policy.</p>
=======
<p>Very Official Privacy Policy.</p>
>>>>>>> 5a7382984adcc976a7a8e321a3ad95e109ee7565

